PORT=3000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/auth_db?schema=public"
JWT_SECRET="your-super-secret-key"

# Authlete Configuration
AUTHLETE_API_KEY=
AUTHLETE_ACCESS_TOKEN=
